<aside class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h6 class="panel-title">Nasi Sponsorzy</h6>
		</div>
		<div class="panel-body">
			<%= image_tag "firstad.jpg", alt: 'ad1', class: 'img-thumbnail' %>
			<hr>
			<%= image_tag "secondad.jpg", alt: 'ad2', class: 'img-thumbnail' %>
		</div>
	</div>
</aside>