<% provide(:title, 'Kontakt') %>
<section class="col-md-9">
	<p>
	<b>Stowarzyszenie Pomocy Niepełnosprawnym Kierowcom SPiNKa</b>
	</p>
	<p>
		ul. Tadeusza Borowskiego 2
		<br>
		03-475 Warszawa
		<br>
		Kontakt telefoniczny i mailowy:
		<br>
		Tel. bezpośredni: (22) 49- 23 - 206
		<br>
		Tel. centrala: (22) 818 - 24 - 42 wew. 206
		<br>
		e-mail: info@spinka.org.pl
		<br>
	</p>
	<br>
	<p>
		Godziny pracy:
	</p>
	<p>
		<b>pn-pt</b> : 9.00 - 16.00
	</p>
	<br>
	<p>
		Sposób pracy i zasady kontaktu z naszymi klientami i Partnerami. Niezależnie od rodzaju sprawy, z jaką się do nas zwracacie, pierwszy kontakt prosimy wykonać do nas telefonicznie albo za pomocą korespondencji mailowej. Pozwoli nam to już na wstępie dokonać merytorycznej identyfikacji problemu (rejestracji) i skierować go do konkretnego obszaru specjalistów, którzy szczegółowo zajmą się Waszą sprawą.
	</p>
</section>
<%= render 'static_pages/sidebar' %>