<% provide(:title, 'O nas') %>
<section class="col-md-9">
	<p>
	Stowarzyszenie Pomocy Niepełnosprawnym Kierowcom SPiNKa powstało w 2006 roku. Od początku działalności przyświecał nam jeden główny cel:
		Stworzyć w Polsce profesjonalny rynek usług motoryzacyjnych dla środowiska niepełnosprawnych kierowców i pasażerów.
	</p>
	<br>
	<p>
		I choć na początku niewiele osób w to wierzyło dziś grono tych, co nas aktywnie wspierają i popierają trudno zliczyć. Dzięki niekonwencjonalnemu pomysłowi organizacyjnemu, wytrwałej pracy, konsekwencji, uporowi, a przede wszystkim przekonaniu, że można uczynić wiele bez wielkiego budżetu, tworzymy przedsięwzięcie, które już na stałe zaznaczyło swoją obecność w gronie tych, którzy nie godzą się z tym, aby niepełnosprawność eliminowała ich z aktywnego życia społecznego i zawodowego.
	</p>
	<br>
	<p>
		Motoryzacyjna mobilność osób niepełnosprawnych to nasza pasja. Pomagamy i wspieramy tych, dla których los nie okazał się zbyt łaskawy. Edukujemy tych, którym nie starcza wyobraźni, aby zrozumieć, że tak naprawdę niepełnosprawność nie jest żadnym powodem, aby nie czuć się potrzebnym oraz realizować swoje marzenia.
	</p>
	<br>
	<p>
		Wspieramy wszystkich niepełnosprawnych w realizacji ich motoryzacyjnych ambicji. Samochód dla osoby niepełnosprawnej to podstawowy przyrząd ruchu. Technika w sposób znakomity poradziła sobie z wieloma dysfunkcjami, tworząc doskonałe substytuty fizycznych niedoskonałości. Niepełnosprawny kierowca lub pasażer może dojechać i być wszędzie tam, gdzie dociera człowiek w pełni sprawny. Kto w to nie wierzy, ma ze sobą wiele do zrobienia.
	</p>
	<br>
	<p>
		Projektujemy i realizujemy cały ciąg działań prowadzący do tego, aby osoba niepełnosprawna mogła korzystać z dobrodziejstwa motoryzacji:
	</p>
	<br>
	<ul>
		<li>
			Tworzymy ogólnopolską sieć specjalistycznych Ośrodków Szkolenia Kierowców niepełnosprawnych (OSKN)
		</li>
		<li>
			Organizujemy sieć profesjonalnych serwisów adaptacyjnych
		</li>
		<li>
			Organizujemy niepełnosprawnym Klientom możliwość zakupu nowych i używanych samochodów, dpowiednich do ich indywidualnych potrzeb.
		</li>
		<li>
			Zapewniamy pomoc finansową we wszystkich tych obszarach działalności
		</li>
		<li>
			Tworzymy nowoczesne, cywilizowane standardy i zwyczaje w relacji osób różniących się miedzy sobą tylko stopniem sprawności fizycznej.
		</li>
	</ul>
	<br>
	<p>
		Wspiera nas już i docenia wiele ważnych i znaczących firm oraz instytucji i osobowości. stale zabiegamy o tych, którzy dotąd nie zauważyli, że świat czeka również na tych, którzy nie potrafią jeszcze łatwo i swobodnie wyjść z własnego domu.
	</p>
	<br>
	<p>
		Jeśli rozumiecie i podzielacie nasze pasje oraz kompetencje, dajcie tego dowód przede wszystkim sobie. A jeśli przy okazji, będziecie chcieli wesprzeć czynem nasze dzieło, możecie liczyć w życiu na rzecz bardzo ważną: uznanie i szacunek drugiego człowieka.
	</p>
	<br>
	<p>
		Prezes Stowarzyszenia SPiNKa<br>
		Krzysztof Marciniak
	</p>
	<br>
	<a href="#" class="btn-sm"><span class="text-primary"><span class="glyphicon glyphicon-arrow-down"></span> Statut Stowarzyszenia SPiNKa do pobrania tutaj</span></a>
	<br>
	<br>
	<br>
	<a href="#top" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-up"></span> na górę</a>

</section>

<aside class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h6 class="panel-title">Nasi Sponsorzy</h6>
		</div>
		<div class="panel-body">
			<%= image_tag "firstad.jpg", alt: 'ad1', class: 'img-thumbnail' %>
			<hr>
			<%= image_tag "secondad.jpg", alt: 'ad2', class: 'img-thumbnail' %>
		</div>
	</div>
</aside>