<section class="container">
<p>
	Stowarzyszenie Pomocy Niepełnosprawnym Kierowcom – SPiNKa powstało w 2006 roku. Od 		oczątku działalności przyświecał nam jeden główny cel:
	Stworzyć w Polsce profesjonalny rynek usług motoryzacyjnych dla środowiska 		iepełnosprawnych kierowców i pasażerów.
</p>
<br>
<p>
	I choć na początku niewiele osób w to wierzyło – dziś grono tych, co nas aktywnie 		spierają i popierają – trudno zliczyć. Dzięki niekonwencjonalnemu pomysłowi 		rganizacyjnemu, wytrwałej pracy, konsekwencji, uporowi, a przede wszystkim 	przekonaniu, 	e można uczynić wiele bez wielkiego budżetu, tworzymy przedsięwzięcie, 	które już na 	tałe zaznaczyło swoją obecność w gronie tych, którzy nie godzą się z 	tym, aby 	iepełnosprawność eliminowała ich z aktywnego życia społecznego i zawodowego.
</p>
<br>
<p>
	Motoryzacyjna mobilność osób niepełnosprawnych to nasza pasja. Pomagamy i wspieramy 	tych, dla których los nie okazał się zbyt łaskawy. Edukujemy tych, którym nie starcza 		yobraźni, aby zrozumieć, że tak naprawdę niepełnosprawność nie jest żadnym powodem, 	aby 	ie czuć się potrzebnym oraz realizować swoje marzenia.
</p>
<br>
<p>
	Wspieramy wszystkich niepełnosprawnych w realizacji ich motoryzacyjnych ambicji. 	Samochód 	la osoby niepełnosprawnej to podstawowy przyrząd ruchu. Technika w sposób 	znakomity 	oradziła sobie z wieloma dysfunkcjami, tworząc doskonałe substytuty 	fizycznych 	iedoskonałości. Niepełnosprawny kierowca lub pasażer może dojechać i być 	wszędzie tam, 	dzie dociera człowiek w pełni sprawny. Kto w to nie wierzy, ma ze sobą 	wiele do 	robienia.
</p>
<br>
<p>
	Projektujemy i realizujemy cały ciąg działań prowadzący do tego, aby osoba 		iepełnosprawna mogła korzystać z dobrodziejstwa motoryzacji:
</p>
<br>
<ul>
	<li>
		Tworzymy ogólnopolską sieć specjalistycznych Ośrodków Szkolenia Kierowców 		iepełnosprawnych (OSKN)
	</li>
	<li>
		Organizujemy sieć profesjonalnych serwisów adaptacyjnych
	</li>
	<li>
		Organizujemy niepełnosprawnym Klientom możliwość zakupu nowych i używanych 	samochodów, 	dpowiednich do ich indywidualnych potrzeb.
	</li>
	<li>
		Zapewniamy pomoc finansową we wszystkich tych obszarach działalności
	</li>
	<li>
		Tworzymy nowoczesne, cywilizowane standardy i zwyczaje w relacji osób różniących się 		iedzy sobą tylko stopniem sprawności fizycznej.
	</li>
</ul>
<br>
<p>
	Wspiera nas już i docenia wiele ważnych i znaczących firm oraz instytucji i osobowości. 		tale zabiegamy o tych, którzy dotąd nie zauważyli, że świat czeka również na tych, 		tórzy nie potrafią jeszcze łatwo i swobodnie wyjść z własnego domu.
</p>
<br>
<p>
	Jeśli rozumiecie i podzielacie nasze pasje oraz kompetencje, dajcie tego dowód przede 		szystkim sobie. A jeśli przy okazji, będziecie chcieli wesprzeć czynem nasze dzieło, 		ożecie liczyć w życiu na rzecz bardzo ważną: uznanie i szacunek drugiego człowieka.
</p>
<br>
<p>
	Prezes Stowarzyszenia SPiNKa<br>
	Krzysztof Marciniak
</p>
<br>
<a href="#"><span class="glyphicon glyphicon-arrow-down"></span> Statut Stowarzyszenia SPiNKa do pobrania tutaj</a>
</section>