<% provide(:title, 'Pomoc') %>
<section class="col-md-9">
	<h3>tutaj znajdą się materiały słóżące pomocy osobom niepełnosprawnym</h3>
	<ul>
		<li>wzory dokumentów</li>
		<li>instrukcje</li>
		<li>przydatne linki</li>
	</ul>
</section>
<aside class="col-md-3">
	<%= render 'static_pages/sidebar' %>
</aside>