<% if User.find_by(id: comment.user_id) %>
<%= link_to("#{User.find_by(id: comment.user_id).username}", user_path(User.find_by(id: comment.user_id))) %>
<% else %>
<span class="text-muted">Użytkownik usunięty</span>
<% end %>