<div class="news-buttons">
	<a href="#top" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-up"></span> na górę</a>
	<% if owner(@news.user.id) || administrator %>
	<%= link_to "<span class='glyphicon glyphicon-pencil'></span> edytuj".html_safe, edit_news_path(@news), class: "btn btn-default btn-sm" %>
	<% if administrator %>
	<%= render 'shared/delete_link', object: @news %>
	<% end %>
	<% end %>
</div>