<% provide(:title, "Aktualności") %>

<section class="col-md-9">
	<h3>Aktualności:</h3>
	<% if administrator %>
	<%= link_to "<span class='glyphicon glyphicon-plus'></span> dodaj nowy".html_safe, new_news_path, class: "btn btn-default btn-sm" %>
	<br>
	<% end %>
	<br>

<%= render @news %>

	<%= pagination_links(@news) %>
</section>
<aside class="col-md-3">
	<%= render 'static_pages/sidebar' %>
</aside>
