// general

.btn-primary {
	a {
		color: #fff
	}
}

.center-block {
	float: none !important;
	text-align: center;
}

textarea {
	resize: vertical;
}

// news

#news-content {
	margin-top: 20px;
	margin-bottom: 40px;
}

// comments

#news-comments {
	margin-top: 40px;
}