// general

.btn-primary {
	a {
		color: #fff
	}
}

.center-block {
	float: none !important;
	text-align: center;
}

textarea {
	resize: vertical;
}

// news

#news-content {
	margin-top: 20px;
	margin-bottom: 40px;
}

.bottom-buttons {
	margin-top: 40px;
}

// comments

#news-comments {
	margin-top: 40px;
}

.entry {
	margin-bottom: 15px;
	.panel-heading {
		border: 1px solid #ededed;
		padding: 10px 15px;
		font-size: 90%;
		.row {
			padding: 0 15px;
		}
		a {
			font-weight: bold;
			color: #444;
			&:hover {
				text-decoration: underline;
			}
		}
		.data {
			color: #999
		}
	}
	.body {
		border-bottom: 1px solid #ededed;
		border-left: 1px solid #ededed;
		border-right: 1px solid #ededed;
		padding: 30px 15px 30px 15px;
		a {
			font-size: 100%;
			text-decoration: none;
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.panel-footer {
		background: #fff;
		padding: 10px 15px;
		border-bottom: 1px solid #ededed;
		border-top: 0;
		border-right: 1px solid #ededed;
		border-left: 1px solid #ededed;
		.pull-right {
			margin-right: 15px;
		}
	}
}

// home#news

.news {
	border: 0px;
	box-shadow: 0;
	margin-bottom: 30px;
	.heading {
		background: #fff;
		border: 0;
		padding: 10px 15px;
		a {
			font-size: 140%;
			font-weight: bold;
			color: #444;
			&:hover {
				text-decoration: none;
				color: #428BCA;
			}
		}
		small {
			text-align: right;
		}
	}
	.body {
		border-bottom: 1px solid #ededed;
		padding: 30px 15px 45px 15px;
		a {
			font-size: 100%;
			text-decoration: none;
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.footer {
		background: #fff;
		padding: 10px 15px;
		border: 0;
	}
}

// Home#sidebar

.add-news {
	.list-group-item {
		padding: 5px 15px;
		color: #428BCA;
	}
	.panel-footer {
		padding: 7px 15px;
	}
}

// Forum

.centered {
	text-align: center;
}

.panel-heading {
	a {
		text-decoration: none;
		color: inherit;
	}
}

// Pagination

.pagination {
	margin: 20px 0 20px 0;
	li > a {
		color: #999;
	}
	.active {
		background-color: #999 !important;
		border-color: #999 !important;
	}
}